[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
flask = "*"
gunicorn = "*"
numpy = "==1.23.5"
mlflow = "*"
boto3 = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"